body{
background-color: darkgoldenrod;
}

h1{
font-size: 30px;
color: #4220C2;
}

h2{
color:#3AE710 ;
font-size: 20px;
}

.big{
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

.big.uppercase{
color: navy;
}

h1 span{
color: violet;
}